node_modules/

logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store
Thumbs.db

.env
.env.*

dist/
build/

.vscode/
.idea/

coverage/

*.tgz
*.swp

.npm

package-lock.json
yarn.lock
pnpm-lock.yaml
